@media (max-width: 1300px){
	.team__item--4{
		left: 275px;
	}
}

@media (max-width: 1174px){
	.slider__item-img{
		width: 100%;
		height: 250px;
	}

	.slider{
		margin: 0;
	}

	.slider__item{
		padding: 16px;
	}
}

@media (max-width: 1140px){
	.team__item--5{
		bottom: 70px;
	}
}



@media (max-width: 992px){
	.header__inner{
		flex-wrap: wrap;
		height: auto;
		padding-top: 25px;
	}
	.menu{
		order: 1;
		width: 100%;
	}
	.menu__list{
		justify-content: flex-end;
		padding-top: 30px;
	}

	.top__inner{
		background-image: none;
		right: 0;
		text-align: center;
		}
	.top__title, .top__text{
		max-width: 100%;
	}

	.top__link{
		white-space: nowrap;
	}

	.tools__items{
		flex-wrap: wrap;
	}

	.tools__item{
		width: 50%;
		margin-bottom: 30px;
		padding-right: 10px;
	}

	.direction__item-img{
		width: 40%;
	}
	.direction__item{
		flex-wrap: wrap;
	}


}
@media (max-width: 860px){
	.direction__item-img{
		width: 80%;
		margin: 0 auto 30px;
		order: -1;
	}

	.direction__item{
		flex-wrap: wrap;
	}

	.direction__item-content{
		max-width: 100%;
	}

	.team__item{
		display: none;
	}

	.team__inner{
		padding-bottom: 200px;
	}

	.footer__inner{
		flex-wrap: wrap;
	}

	.footer__form{

		width: 100%;
	}

	.footer__menu{
		margin-bottom: 25px;
	}

@media (max-width: 768px){
	.top__inner{
		padding: 80px 0 60px;
	}

	.tools__inner{
		padding-bottom: 60px;
	}
}

@media (max-width: 524px){
	.body{
		overflow-x: hidden;
	}
	
	.header__inner{
		display:block;
		
	}

	.menu{

	}

	.menu__btn{
		position: absolute;
		display: block;
		right: 10px;
		top: 25px;
	}
	.menu__list{
		z-index: -999 ;
		display: block;
		position: absolute;
		left:0;
		right: 0;
		background-color: #fff;
		text-align: center;
		transition-duration: 0.5s;
		height: 100%;
		

	}

	.menu__list.menu__list--active{
		z-index: 999 ;
		display: block;
		transition-duration: 1s;
		left: 0;
	}

	.menu__list-link{
		display: block;
		padding: 10px 0;
	}
	.user-nav{
		padding-top: 30px;
		margin-left: 0;
		margin-right: 0;
		text-align: center;
		
	}
	.menu__list-item + .menu__list-item{
		margin-left: 0;
	}

	.top__title{
		font-size: 28px;
		line-height: 54px;
	}

	.top__btn{
		margin-right: 0px;
		margin-inline:20px;
		margin-bottom: 25px;
	}
	
	.tools__item{
		width: 100%;
	}

	.tools__title,
	.direction__item-title,
	.team__title,
	.blog__title
	 {
		font-size: 24px;
		line-height: 30px;
	}

	.slider__item{
		padding: 0;
	}

	.footer .logo{
		width: 100%;
		margin-bottom: 25px;
	}

	.footer__inner{
		justify-content: space-around;
		}

	.footer__form-text{
		font-size: 18px;
			
	}
}

}
